/* Text and background (bg) color */
$color-white: white;
$color-white-smk: whitesmoke;
$main-bg-color: #333;
$bg-color-hover: #111;
$bg-green: green;
$bg-blue: blue;

/* Font styles */
$italic: italic;

/* Positions */
$left: left;
$relative: relative;
$absolute: absolute;