@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Cherry+Swash&family=Goldman&family=Libre+Baskerville:ital@1&family=Yellowtail&display=swap');

.play_img_title {
    width: auto;
    height: 100px;
    background-image: url('/assets/img/contenido/Sony.jpg');
    background-size: 50% 150%;
    background-repeat: no-repeat;
    background-position: center center;
}

.playstation__title{
    font-family: 'Goldman', cursive;
}

.playstation__intro{
    font-family: 'Goldman', cursive;
    color: whitesmoke;
    float: right;
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    display: contents;
}

#linear-grad{
    background-image: linear-gradient(#333, rgb(151, 50, 50));
}

.game_title{
    font-size: xx-large;
    font-family: 'Cherry Swash', cursive;
    font-style: italic;
    margin: 5px 0 15px 0;
    text-align: center;
}

.games_page img{
    border-radius: 30px;
    padding: 7px;
    margin: 5 5 0 5;
    height: 264px;
}

.games_page img:hover{
    animation-duration: 2s;
    animation-name: bigsmall;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bigsmall {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.1);
    }
}

.PlayXbox{
    background-color: rgb(3, 109, 77);
}

.xbox_game{
    background-color: green;
}

.play_game{
    background-color: blue;
}

.mobile_nav{
    display:none
}

.mainVideo{
    width: inherit;
}

@media screen and (max-width: 768px){
    .card{
        font-size:15px;
    }
    .card h5{
        font-size:15px;
    }
    .desktop_nav{
        display:none;
    }
    .mobile_nav{
        display:flex;
    }
    .compare_ps4{
        display: none;
    }
}